/* General stuff */
body {
  font-family: sans-serif;
}

.view {
  position: absolute;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: 100;
}

/* Rotate device view styles */
#rotate-view {
  display: none;
  
  background-color: #5EC5E5;
  
  z-index: 1000;
}

.rotate-panel {
  position: absolute;
  
  top: 30%;
  right: 20%;
  width: 60%;
}

.rotate-panel > img {
  width: 100%;
  
  margin-bottom: 15px;
}

.rotate-panel > span {
  font-size: 1.5em;
}

/* Game view styles */
.main-canvas {
  position: absolute;
  
  background-color: #000;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: 200;
}

/* Mobile style changes */

@media only screen and (max-device-width:768px) and (orientation:portrait) {
  /* Rotate device view styles */
  #rotate-view {
    display: unset;
  }
  
  /* Game view styles */
  
}